<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="dj4e" content="95814964b0c42ce64d51e38d917d7fd3">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><p><a href="/polls">A Polls Application</a></p></li>
        <li><p><a href="/hello">Test the session</a></p></li>
        <li><a href="/autos">Autos CRUD</a>
        <li><p>95814964</p></li>
    </ul>
</body>
</html>